<ion-header class="ion-no-border" translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">List - Reorder</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleReorderGroup()" color="secondary">
        <ion-icon name="radio-button-on-outline" *ngIf="!reorderGroup?.disabled" color="success"></ion-icon>
        <ion-icon name="radio-button-off-outline" *ngIf="reorderGroup?.disabled" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleReorderGroup()" color="tertiary">
      <ion-icon name="lock-open" *ngIf="!reorderGroup?.disabled" color="success"></ion-icon>
      <ion-icon name="lock-closed" *ngIf="reorderGroup?.disabled" color="danger"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>

    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">

      <ion-item *ngFor="let personaje of personajes">
        <ion-label>{{personaje}}</ion-label>
        <!-- <ion-reorder slot="end"></ion-reorder> -->
        <ion-reorder slot="end">
          <ion-icon name="swap-vertical-outline"></ion-icon>
        </ion-reorder>
      </ion-item>

    </ion-reorder-group>

  </ion-list>

</ion-content>

<app-footer titulo="Footer"></app-footer>
