<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">

  <ion-button (click)="presentAlert()" expand="block" class="ion-text-capitalize">
    Alert
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand="block" class="ion-text-capitalize">
    Alert MultiButtons
  </ion-button>

  <ion-button (click)="presentAlertConfirm()" expand="block" class="ion-text-capitalize">
    Alert presentAlertConfirm
  </ion-button>

  <ion-button (click)="presentAlertPrompt()" expand="block" class="ion-text-capitalize">
    presentAlertPrompt
  </ion-button>

  <ion-button (click)="presentAlertRadio()" expand="block" class="ion-text-capitalize">
    Alert presentAlertRadio
  </ion-button>

  <ion-button (click)="presentAlertCheckbox()" expand="block" class="ion-text-capitalize">
    Alert presentAlertCheckbox
  </ion-button>

</ion-content>
