<app-header titulo="Infinite-Scrool"></app-header>


<ion-content class="ion-padding">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleInfiniteScroll(infiniteScroll.disabled)" color="tertiary">
      <ion-icon name="lock-open" *ngIf="!infiniteScroll?.disabled" color="success"></ion-icon>
      <ion-icon name="lock-closed" *ngIf="infiniteScroll?.disabled" color="danger"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item: {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<app-footer titulo="Footer"></app-footer>